<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <style>
        .arrow-up{
            width: 0;
            height: 0;
            border-left:5px solid transparent;
            border-right:5px solid transparent;
            border-bottom:5px solid black;
        }

        .arrow-down{
            width: 0;
            height: 0;
            border-left:5px solid transparent;
            border-right:5px solid transparent;
            border-top:5px solid black;
        }
    </style>
</head>
<body ng-app="myApp">
<div ng-controller="emp">
    search: <input type="text" placeholder="search name and gender" ng-model="searchText"><br><br>
<table>
    <thead>
    <tr>
        <th ng-click="sortData('name')">Name<div ng-class="getSortClass('name')"></div></th>
        <th ng-click="sortData('dob')">Date of Birth<div ng-class="getSortClass('dob')"></div></th>
        <th ng-click="sortData('gender')">Gender<div ng-class="getSortClass('gender')"></div></th>
        <th ng-click="sortData('salary')">Salary<div ng-class="getSortClass('salary')"></div></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="employee in employees|filter:getSearchRes|orderBy:sortColumnn:reverseSort">
        <td>{{employee.name}}</td>
        <td>{{employee.DOB|date:"dd/MM/yyyy"}}</td>
        <td>{{employee.gender}}</td>
        <td>{{employee.salary}}</td>
    </tr>
    </tbody>
</table>
</div>
<script>
    var app=angular.module('myApp',[])
            .controller('emp',function($scope){
                var employees=[
                    {name:'laxmikant',gender:'Male',salary:100000,DOB:new Date('November 12 1984')},
                    {name:'priyanka',gender:'Female',salary:10000,DOB:new Date('May 22 1988')},
                    {name:'yuvi',gender:'Male',salary:1000,DOB:new Date('March 26 2011')},
                    {name:'saurav',gender:'Male',salary:2000000,DOB:new Date('july 30 1986')},
                    {name:'amit',gender:'Male',salary:100000,DOB:new Date('November 12 1984')}
                ];
                $scope.employees=employees;
                $scope.sortColumnn='gender';
                $scope.reverseSort=false;
                $scope.sortData=function(column){
                    $scope.reverseSort=($scope.sortColumnn==column)? !$scope.reverseSort:false;
                    $scope.sortColumnn=column;
                }

                $scope.getSortClass=function(column){
                    if($scope.sortColumnn==column){
                        return $scope.reverseSort ? 'arrow-down':'arrow-up';
                    }

                    return '';
                }

                $scope.getSearchRes=function(item){

                   if($scope.searchText==undefined){
                       return true;
                   }else{
                       if((item.gender.toLowerCase().indexOf($scope.searchText.toLowerCase())!=-1) || (item.name.toLowerCase().indexOf($scope.searchText.toLowerCase())!=-1)){
                           return true;
                       }

                   }
                }
            });

</script>
</body>
</html>