<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller="emp">
   order by: <select ng-model="sortColumnn" name="sorting">
                <option value="+name" selected="selected">Name DESC</option>
                <option value="-dob">DOB ASC</option>
                <option value="-salary">Salary DESC</option>
                <option value="+gender">Gender DESC</option>
    </select>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Salary</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="employee in employees|orderBy:sortColumnn">
        <td>{{employee.name}}</td>
        <td>{{employee.DOB|date:"dd/MM/yyyy"}}</td>
        <td>{{employee.gender}}</td>
        <td>{{employee.salary}}</td>
    </tr>
    </tbody>
</table>
</div>
<script>
    var app=angular.module('myApp',[])
            .controller('emp',function($scope){
                var employees=[
                    {name:'laxmikant',DOB:new Date('November 12 1984'),gender:'Male',salary:100000},
                    {name:'priyanka',DOB:new Date('May 22 1988'),gender:'Female',salary:10000},
                    {name:'yuvi',DOB:new Date('March 26 2011'),gender:'Male',salary:1000},
                    {name:'saurav',DOB:new Date('july 30 1986'),gender:'Male',salary:2000000},
                    {name:'amit',DOB:new Date('November 12 1984'),gender:'Male',salary:100000}
                ];
                $scope.employees=employees;
                $scope.sortColumnn='name';
            });

</script>
</body>
</html>